# Eclipse
.metadata/
.settings/
.project
.classpath

# Java
*.class
*.war
*.ear

# Spring Boot / Maven / Gradle
target/
build/
.gradle/

# IntelliJ / IDEA
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temp files
tmp/
temp/

# Environment / secrets
*.env
*.properties
application-*.yml
application-*.properties

# Docker
docker-compose.override.yml

# Others
coverage/
node_modules/
/restart_everything.sh
/restart_user-service.sh
/restart_gateway.sh
/.todo/tasks.json
