<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div class="home" th:fragment="home">
    <h1 style="white-space: pre">W E L C O M E - T O - A S P I R E A P P S</h1>
    <h1 style="white-space: pre"> L I N K E R </h1>
    <h5>V.1.0 - at checkpoint</h5>

    <div class="button-group">
        <button class="primary-button"
                th:onClick="|location.href='@{/linker/auth/web/v1/register}'|">Sign up
        </button>

        <button class="secondary-button"
                th:onclick="|location.href='@{/linker/auth/web/v1/login'}|">Login
        </button>
    </div>

    <div class="link-checker">
        <input
                id="shorted"
                aria-label="Shortened URL"
                class="link-input"
                placeholder="Enter a shortened URL"
                type="text"/>
        <button class="primary-button"
                th:onclick="|location.href='@{/visit/}' + encodeURIComponent(document.getElementById('shorted').value)|"
                type="button">
            Go
        </button>
    </div>
    <div class="general_error" th:if="${redirectError}">
        <h4>Invalid shorted link, check link and try again</h4>
    </div>
</div>
</html>