<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div class="home" th:fragment="register">
    <h1 style="white-space: pre">Register for a new Linker account</h1>
    <h3 style="white-space: pre">Fillup this form to create an account</h3>

    <div>
        <div class="general_error" th:if="${generalError}">
            <h4>Invalid registration data</h4>
        </div>

        <form method="post" th:action="@{/ir/aspireapps/linker/auth/web/v1/register}"
              th:object="${registerForm}">

            <div class="form-pair">
                <label class="form-label" for="username">Username</label>
                <input autocomplete="username"
                       class="form-input"
                       id="username"
                       name="username"
                       placeholder="Enter your username"
                       required
                       th:field="*{username}"
                       type="text"/>
            </div>

            <div class="form-pair">
                <label class="form-label" for="email">Email</label>
                <input autocomplete="email"
                       class="form-input"
                       id="email"
                       name="email"
                       placeholder="Enter your email"
                       required
                       th:field="*{email}"
                       type="text"/>
            </div>

            <div class="form-pair">
                <label class="form-label" for="password">Password</label>
                <input autocomplete="new-password"
                       class="form-input"
                       id="password"
                       name="password"
                       placeholder="Enter your password"
                       required
                       th:field="*{password}"
                       type="password"/>
            </div>

            <div class="form-pair">
                <label class="form-label" for="passwordConfirm">Confirm Password</label>
                <input autocomplete="confirm-password"
                       class="form-input"
                       id="passwordConfirm"
                       name="passwordConfirm"
                       placeholder="Enter your password again"
                       required
                       th:field="*{passwordConfirm}"
                       type="password"/>
            </div>
            <br/>
            <div class="button-group">
                <button class="primary-button" type="submit">Register</button>
            </div>
        </form>

        <div class="general_error" th:if="${duplicateResourceException}">
            <h4>Username Or Email Already registered</br>
                Try to log into your account</h4>
            <button class="primary-button"
                    th:onclick="|location.href='@{/ir/aspireapps/linker/auth/web/v1/login'}|">Login
            </button>
        </div>
    </div>
    </div>
</div>
</html>