<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="homeLinker" th:fragment="login">
    <h1 style="white-space: pre">Create your Linker account</h1>
    <h3 style="white-space: pre">Enter username and password to enter your account.</h3>

    <div>
        <form class="form-holder" method="post" th:action="@{/login-process}">

            <div class="pair-holder">
                <label class="pair-label" for="username">Username</label>
                <input class="pair-input"
                        autocomplete="username"
                        id="username"
                        name="username"
                        placeholder="Enter your username"
                        required
                        type="text"
                >
            </div>

            <div class="pair-holder">
                <label class="pair-label" for="password">Password</label>
                <input class="pair-input"
                        autocomplete="new-password"
                        id="password"
                        name="password"
                        placeholder="Enter your password"
                        required
                        type="password"
                >
            </div>
            <br/>
            <div class="button-group">
                <button class="primary-button" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
</html>