:root {
    --primary: #2563EB;
    --primary-dark: #1D4ED8;
    --accent: #60A5FA;

    --bg: #F8FAFC;
    --surface: #FFFFFF;

    --text: #1E293B;
    --text-muted: #64748B;

    --border: #E2E8F0;

    --success: #10B981;
    --warning: #F59E0B;
    --error: #EF4444;

    --navbar: #1E3A8A;
    --footer: #0F172A;
}