<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar" th:fragment="navbar">
    <div class="navbar">
        <h1>Linker - make links shorter and secure</h1>
    </div>
</nav>
<hr/>
<div class="profil-row-items">
    <a class="navbar-button" th:href="@{/ir/aspireapps/linker/home}">home</a>
    <div th:if="${loggedIn}">
        <a class="navbar-button" th:href="@{/ir/aspireapps/linker/user/web/v1/profile}">profile</a>
        <a class="navbar-button" th:href="@{/ir/aspireapps/linker/user/web/v1/logout}">logout</a>
    </div>
</div>
</html>